# Название сайта. Отображается в заголовке вкладки браузера и в шапке.
# Можно написать на русском, например: APP_NAME="Мое Расписание"
APP_NAME="University Schedule"

# Режим работы сайта. 
# Оставьте 'local', пока разрабатываете проект на своем компьютере.
# Когда сайт будет загружен на реальный сервер в интернет, тут нужно будет написать 'production'.
APP_ENV=local

# ПОДКЛЮЧЕНИЕ К БАЗЕ ДАННЫХ 
DB_HOST=localhost
DB_NAME=university_schedule
DB_USER=your_database_user
DB_PASS=your_database_password